.nav_main {
    background-color: rebeccapurple;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    padding: 10px;
    color: whitesmoke;
}
.nav_body {
    padding: 10px;
}
.nav_links{
    position: absolute;
    right: 0;
    display: flex;
}
.nav_link1, .nav_link2{
    margin-right: 50px;
}
.nav_link3 {
    margin-right: 20px;
}
.nav_link_text {
    text-decoration: none;
    color: white;
}
.nav_title_text {
    cursor: not-allowed;
}